@model SklepInternetowy2.Models.Produkt

@{
    ViewBag.Title = "WybieranieIlości";
}

<p>Dodawanie do koszyka</p>

<dl class="dl-horizontal">
    <dt>
        @Html.DisplayNameFor(model => model.Category.Nazwa)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Category.Nazwa)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.Producent.Nazwa)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Producent.Nazwa)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.Nazwa)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Nazwa)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.Cena_netto)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Cena_netto)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.Procent_vat)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Procent_vat)
    </dd>

    <dt>
        @Html.DisplayNameFor(model => model.Opis)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Opis)
    </dd>
    <dt>
        @Html.DisplayNameFor(model => model.Ilość)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.Ilość)
    </dd>

</dl>





@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        @Html.HiddenFor(model => model.ProduktID)

        <div class="form-group">
            <label class="control-label col-md-2" for="wybranaIlosc">Wybrana Ilość</label>
            <div class="col-md-10">
                <input class="form-control text-box single-line" max="@ViewBag.Ilosc" min="1" data-val="true" data-val-number="The field Ilość must be a number." data-val-required="Pole Ilość jest wymagane." id="wybranaIlosc" name="wybranaIlosc" type="number" value="" /> 
                Dostępna liczba sztuk: (@ViewBag.Ilosc)
                <span class="field-validation-valid text-danger" data-valmsg-for="Ilość" data-valmsg-replace="true"></span>
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Dalej" class="btn btn-default" />
            </div>
        </div>
    </div>
}
